<%= form_for @profile, url {action: "update"} do |f| %>
<div class="avatar-wrapper" >
      <%= f.input :photo, as: :file , label: "uploaded " %>
    </div>
    <%= f.input :first_name %>
    <%= f.input :last_name%>
    <%= f.input :age, collection: 18..60, prompt: "Select your age", selected: 21 %>
    <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
    <%= f.input :job_title %>
    <%= f.input :language%>
    <%= f.submit "Update profile" %>
    <% end %>
</div>
<%= end %>
