<div class="card-category-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('pp.jpg') %>)">
    <h1 class="prenom"> <%= @profile.first_name %> <%= @profile.last_name %> </h1>
</div>

<div class="card-trip-infos">
  <% if @profile.photo.present? %>
  <%= cl_image_tag @profile.photo.key, height: 240, width: 240, crop: :fill, class: 'avatar-profile-p card-trip-user avatar-bordered' %>
  <% else %>
  <%= cl_image_tag('avatar.jpg') %>
  <% end %>
</div>

<div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats" id="followers">
  <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
  <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
  <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
</div>


<div class="d-flex align-items-center flex-column">

<div class="my-history shadow px-3 py-3 my-5 bg-white rounded">
  <h4 class="about-me">About me</h4>
  <p> <%= @profile.job_title %><p>
  <p> <%= @profile.age %><p>
  <%= link_to " Create activity", new_activity_path, class: "btn btn-outline-primary" %>
  <%= link_to " Edit profile", edit_profile_path, class: "button-orange btn btn-outline-primary" %>
</div>

 <div class="my-history shadow px-3 py-3 mb-5 bg-white rounded">
    <h3 class="my-title-history">My history</h3>
     <div class="container-activity-user" style="text-decoration: none">
      <ul class="list">
         <% @profile.user.activities.first(3).each do |activity| %>
          <li>
            <%= activity.title %>
          </li>
          <% end %>
      </ul>
    </div>
 </div>

</div>










