<p> Our chat is amazing</p>
<div class="container-chat js-chatroom" data-id="<%= @chatroom.id %>" data-user="<%= current_user.id %>">
  <div class="row row-chat justify-content-center">
    <div class="col-7 col-offset-3 mt-3">
     <div class="chat-header">
        <h4>#<%= @chatroom.name %></h4>
     </div>

     <div class="messages">
        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author:
            message.user == current_user %>
        <% end %>
      </div>

      <div id="create-message">
        <%= simple_form_for [@chatroom, Message.new], remote: true do |f| %>
          <%= f.input :content, as: :string, label: false, placeholder: 'Enter you message...' %>
        <% end %>
       </div>
    </div>
  </div>
</div>
