<div class="container">
<h2 class="booking-para">Confirm your bookings</h2>

<% @my_created_activities.each do |activity| %>
  <div class="row">
    <% activity.bookings.each do |booking| %>
      <div class="col-4">
        <div class="card booking">
          <%= cl_image_tag activity.photo.key, class: 'card-img-top', alt: 'Card booking' %>

          <div class="card-body">
            <h5 class="card-title">
              <%=activity.title %>
            </h5>

            <ul class="list-booking list-booking-flush">
              <li class="list-booking-item"><i class="fas fa-user booking-icon"></i><%= booking.user.profile.first_name %> <%= booking.user.profile.last_name %></li>
              <li class="list-booking-item"><strong>Status: </strong><%= booking.status %> </li>
              <li class="list-booking-item"><i class="fas fa-calendar-week booking-icon"></i><%= activity.start_date %></li>
              <li class="list-booking-item"><i class="fas fa-calendar-week booking-icon"></i><%= activity.end_date %></li>
              <li class="list-booking-item"><i class="fas fa-location booking-icon"></i><%= activity.location %></li>
            </ul>
          </div>

          <div class="card-body join-bu">
            <% if booking.pending? %>
              <%= simple_form_for [activity, booking], method: :patch do |f| %>
                <%= f.button :submit, "accept", class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h2 class="booking-para">Your current activities</h2>

<div class="row">
  <% @bookings_made.each do |booking| %>
    <div class="col-4">
      <div class="card booking">
        <%= cl_image_tag booking.activity.photo.key, class: 'card-img-top', alt: 'Card booking' %>

        <div class="card-body booking">
          <h5 class="card-title booking">
            <%=booking.activity.title %>
          </h5>

          <ul class="list-booking list-booking-flush">
            <li class="list-booking-item"><i class="fas fa-user booking-icon"></i><%= booking.user.profile.first_name %> <%= booking.user.profile.last_name %></li>
            <li class="list-booking-item"><strong>Status: </strong><%= booking.status %></li>
            <li class="list-booking-item"><i class="fas fa-calendar-week booking-icon"></i> <%= booking.activity.start_date %></li>
            <li class="list-booking-item"><i class="fas fa-calendar-week booking-icon"></i> <%= booking.activity.end_date %></li>
            <li class="list-booking-item"><i class="fas fa-location booking-icon"></i><%= booking.activity.location %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
