       <footer>
                <div class="footer-icons">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3 class="footer-text">Activities</h3>
                        <ul>
                            <li><%= link_to 'Browse activities', activities_path %> </li>
                            <li><%= link_to 'FAQ', activities_path %> </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3 class="footer-text">About us</h3>
                        <ul>
                            <li><%= link_to 'Team', activities_path %></li>
                            <li><%= link_to 'Contact', activities_path %></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3 class="footer-text">My Profile</h3>
                        <ul>
                            <li><%= link_to 'Activity history', activities_path %></li>
                            <li><%= link_to 'Track my activity', activities_path %></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p class="copyright row justify-content-center">PlusOne © 2021</p>
                </div>
            </div>
          </footer>
