<div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <ul>
                            <li><%= link_to 'About us', '#' %> </li>
                             <li><%= link_to 'Team', '#' %></li>
                               <li><%= link_to 'Contact us', '#' %></li>
                               <li><%= link_to 'Browse activities', '#' %></li>
                        </ul>
                    </div>
                    <p>Follow us</p>
                    <div class="col-lg-3 item social"><a href="https://www.facebook.com/sharer/sharer.php?u=www.beauty-first.com"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/intent/tweet?url=www.beauty-first.com&text=Beauty%20first"><i class="icon ion-social-twitter"></i></a><a href="http://www.linkedin.com/shareArticle?mini=true&url=www.beauty-first.com&title=Beauty%20first"><i class="icon ion-social-linkedin"></i></a><a href="https://msng.link/o/?beauty-first=ig"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">© 2021 PlusOne LLC</p>
                    </div>
                   <div>
                      <ul>
                            <li><%= link_to 'Privacy', '#' %> </li>
                             <li><%= link_to 'Terms', '#' %></li>
                      </ul>
                   </div>
                </div>
            </div>
