<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse flex-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.profile.present? %>
          <%= link_to profile_path(current_user.profile) do %>
          <% end %>
        <%= link_to "My profile", profile_path(current_user.profile) %>
        <% else %>
        <%= link_to "My profile", new_profile_path %>
        <% end %>
        <%= link_to destroy_user_session_path, class: "nav-link btn btn-ghost ml-3", method: :delete do %>
        <% end %>
      <% else %>
          <%= link_to "Join Now", new_user_registration_path, class: "nav-link btn btn-primary" %>
          <%= link_to "Log In", new_user_session_path, class: "nav-link btn btn-ghost ml-3" %>
      <% end %>
    </ul>
    </div>
     <%= link_to 'Sign out', destroy_user_session_path, :method => :delete
 %>
  </div>





