<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-final.png" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse flex-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.profile.present? %>
          <%= link_to profile_path(current_user.profile) do %>
            <h1>activity</h1>
          <% end %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <h1>Log out</h1>
        <% end %>
        <% else %>
          <%= link_to "JOIN NOW", new_user_registration_path , class: "nav-link btn btn-primary" %>
          <%= link_to "LOG IN", new_user_session_path, class: "nav-link btn btn-ghost ml-3" %>
      <% end %>
    </ul>
  </div>
</div>





