<div class="home-banner">
  <div class="home-text">
    <h2 id="banner-heading">Your buddy finder</h2>
    <p class="wrap">PlusOne helps you to connect with people nearby who <br> share your interests so you don’t always have to do activities alone</p>
     <button class="btn btn-primary banner-link"><%= link_to "Learn more", activities_path  %></button>
  </div>
</div>

    <div class="container my-3">
<div class="row">
  <% @activities.each do |activity| %>
  <div class="card-category col-4">
    <div class="m-4">
     <%= cl_image_tag(activity.photo.key,width: 350, height: 200, crop: :fill) %>
      <div class="body-card d-flex">
        <div>
          <p class="title"> <%= activity.title %> </p>
          <p class="para"> <%= activity.location %></p>
       </div>
       <p class="para"> Start in : <%=( activity.start_date - Date.today).to_i %> days </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

    <div class="full-container">
      <div><h2 id="container-header">Getting started</h2></div>
      <div class="cards">
        <div class="card fas fa-edit icon">
          <h3 class="action-header">Create profile</h3>
      <p class="action-text">Set up your profile and connect with other users. It’s simple and easy!</p>
    </div>


      <div class="card fas fa-scroll icon">
        <h3 class="action-header">Find your activity</h3>
      <p class="action-text">Browse list of activities to find a matching buddy or create your own activity.</p>
    </div>


      <div class="card fas fa-thumbs-up icon">
        <h3 class="action-header">Confirm your activity</h3>
      <p class="action-text">Confirm activity with your buddy. Use the chat feature to request more information.</p>
    </div>
  </div>
  </div>

