

<div class="container-fluid d-flex">
  <div class="row">

        <h3 class="text-white">We are Plus One</h3>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-inputs">
       <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="btn-block btn-color">
        <%= f.button :submit, "Log in" %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
        </div>

<div class="col-sm-6 px-0 d-none d-sm-block">
  <%= image_tag "log.jpg" %>


</div>
</div>



