<%= render "search_form" %>

<div class="map-card-layout">
  <div id="theme">
    <% Theme.all.first(4).each do |theme| %>
      <%= link_to results_activities_path(theme: theme.name) do %>
        <div class="card-category-theme"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= asset_path("#{theme.name}.jpg") %>);">
          <%= theme.name.upcase %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="map" class="map-index"
       style="height: 470px; width: 600px"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div>
  <%= link_to "Create your activity", new_activity_path, class: "create-btn" %>
</div>

<h4 class="activity-title"> Activities near you </h4>

<h5> Lisbon </h5>


<div class="container my-3">
<div class="row">
  <% @activities.each do |activity| %>
  <div class="col-4">
    <%= link_to activity_path(activity), class:'text-decoration-none' do %>
    <div class="card-category">
    <div class="m-4">
      <%= cl_image_tag(activity.photo.key, width: 350, height: 200, crop: :fill, class: 'img-fluid') %>
      <div class="body-card d-flex">
        <div class="d-flex">
          <p class="title flex-grow-1">
            <%= activity.title %>
          </p>
          <p class="para start-in">
             Starts in <%= pluralize(activity.days_to_start, 'day') %>
          </p>
       </div>
        <p class="para"> <%= activity.location %> </p>
      </div>
    </div>
  </div>
     <% end %>
  </div>
  <% end %>
</div>
</div>



