
<div class="show-container">
<div class="show-card">
  <%= cl_image_tag @activity.photo.key %>
  <div class="show-card-infos">

    <div class="show-items">
      <p class= "paragraph-title"> <%= @activity.title %> </p>
      <div class="icon-inline">
      <i class="fa fa-map-marker show-icon"></i>
      <p class= "paragraph-show"> <%= @activity.location %> </p>
      </div>
      <div class="icon-inline">
      <i class="far fa-calendar show-icon"></i>
      <p class= "paragraph-show"> <%=@activity.start_date%> to <%=@activity.end_date%> </p>
      </div>
    </div>
    <div class="show-bar">

      <% if @activity.user == current_user %>
      <h3 id="activity-owner">You are the owner of the activity</h3>
      <% else %>
        <%= link_to "Join me", activity_bookings_path(@activity), method: :post, class: "btn btn-primary show-link" %>

        <% if @chatroom.present? %>
          <%= link_to "Chat now", chatroom_path(@chatroom.id), class: "btn btn-ghost ml-3 show-link" %>
        <% else %>
          <%= simple_form_for [@activity, Chatroom.new] do |f| %>
            <%= f.submit 'Chat now', class: 'btn btn-ghost ml-3 show-link' %>
          <% end %>
        <% end %>
        <%= simple_form_for @booking, url: activity_bookings_path(@activity), method: :post do |f| %>
        <% end %>
      <% end %>
      </div>

</div>
<div class="avatar-place">
     <p id="avatar-text"><i class="fas fa-stopwatch countdown"></i>  <%= pluralize(@activity.days_to_start, 'day') %> to join me <i class="fas fa-stopwatch countdown"></i></p>
     <% if @activity.user.profile.photo.attached? %>
     <%= cl_image_tag @activity.user.profile.photo.key , class: "show-avatar" %>
     <% else %>
     <%= image_tag "avatar.jpg", class: "show-avatar" %>
     <% end  %>
  </div>
</div>
</div>

<div id="map"
    style="height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


